<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src {cspSource} https:; script-src {cspSource}; style-src {cspSource};">
        <link href="https://fonts.googleapis.com/css?family=JetBrains Mono" rel="stylesheet">
        <link rel="stylesheet" href="{assets:style.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&amp;display=swap" rel="stylesheet">
        <script src="{assets:line.js}"></script>
    </head>
    <body>
        <div id="app">
            {buffer}
        </div>
    </body>
</html>